//background section
$bc1: #ebecf0;
$bc2: #f7f7f9;

$primary: #7a0234;
$primary-light: #a00a33;
$primary-dark:#700724;
// colors ============
$color-block-title: #827f7f;
$muted-color: #d1d4dd;
$text-color: #8b8b8b;
//$text-muted: #4b5257;