.hero-banner {
  padding-top: 0px;
  position: relative;
  height: 85vh;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 49, 49, 0.575);
    z-index: -1;
  }
  video {
    position: absolute;
    width: 100%;
    z-index: -2;
    // object-fit: contain;
    // object-position: center;
  }

  .btn {
    color: #a00a33;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid transparent;

    &:hover {
      border: 3px solid darken($color: #a00a33, $amount: 10%);
    }
  }
}

.slide-container {
  width: 600px;

  margin-left: 20%;
  margin-top: 15%;
  overflow: hidden;
}

#slider {
  display: inline-flex;
  transition: 0.5s;
}

.slide-content {
  width: 600px;
}

.slide-content h1 {
  color: #fff;
  font-size: 45px;
  line-height: 1.5;
  font-weight: 100;
  margin: 10px 0;
}

.slide-content p {
  color: #dddddd;
  font-size: 15px;
  line-height: 25px;
}

.slide-content a {
  background-color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 35px;
  margin-top: 25px;
  display: inline-block;
  color: #555;
}

.slide-controler {
  width: 1px;
  height: 320px;
  display: block;
  background: #c0c0c0;
  position: absolute;
  top: 55%;
  right: 50px;
  transform: translateY(-50%);
}

#slide1,
#slide2,
#slide3,
#slide4 {
  height: 80px;
  width: 10px;
  cursor: pointer;
  transform: translateX(-50%);
}

#active {
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
