.hero-banner {
  background-color: #ebecf0;
  position: relative;

  video {
    width: 100%;
    // object-fit: contain;
    // object-position: center;
  }


  // slider ==================================
  // #slider {
  //   display: flex;
  //   background-color: green;
  // }

}


.slide-container {
  background-color: red;
  width: 600px;
  height: 250px;
  position: absolute;
  left: 14%;
  top: 57%;
  transform: translateY(-50%);
  overflow: hidden;
}

#slider {
  display: inline-flex;
  transition: 0.5s;

}

.slide-content {
  width: 600px;
  height: 250px;
  background-color: green;
  overflow: hidden;

}

.slide-content h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  margin: 10px 0;
}

.slide-content p {
  color: #dddddd;
  font-size: 15px;
  line-height: 25px;
}

.slide-content a {
  background-color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 35px;
  margin-top: 25px;
  display: inline-block;
  color: #555;
}

.slide-controler {
  width: 1px;
  height: 320px;
  display: block;
  background: #c0c0c0;
  position: absolute;
  top: 55%;
  right: 50px;
  transform: translateY(-50%);
}

#slide1,
#slide2,
#slide3,
#slide4 {
  height: 80px;
  width: 10px;
  cursor: pointer;
  transform: translateX(-50%)
}

#active {
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  transform: translateX(-50%);


}