#current-event {
  //height: 600px;
  display: flex;
  align-items: center;
  padding: 60px 100px;
  background-color: #f5f6f7;
  img,
  div {
    transition: all 1.2s ease-in-out;
  }
  img {
    height: 500px;
    //transform: translateX(-60px);
    opacity: 1;
  }

  .image-wrapper {
    position: relative;
  }
  .image-wrapper::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    // border: 5px solid rgb(161, 38, 38);
    // border: 10px solid #fff;
  }

  div.move-to-left {
    background-color: #f1f2f4;
    //background-color: rgb(255, 87, 34);
    //margin-left: -150px;
    padding: 50px;
    color: rgb(54, 54, 54);
    //transform: translateX(100px);
    opacity: 1;
    box-shadow: 0 0 10px#00000045;

    h2 {
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      line-height: 1.8;
      margin-bottom: 1.5rem;
      color: rgb(54, 54, 54);
    }

    a {
      font-weight: bold;
      font-size: small;
      color: #421115;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  img.to-right {
    transform: translateX(0px);
    opacity: 1;
  }

  div.to-left {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (min-width: 300px) {
  #current-event {
    position: relative;
    display: block;
    padding: 0;
    .image-wrapper {
      width: 100%;
      opacity: 1;
    }

    .move-to-left {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 1;
      background-color: red;
    }
  }
}
