#current-event {
  display: flex;
  justify-content: center;
  align-items: center;

  img,
  div {
    transition: all 1.2s ease-in-out;
  }

  img {
    //transform: translateX(-60px);
    opacity: 1;
  }

  .event__image {
    display: none;
  }

  .event__image::after {
    position: absolute;
    content: '';
    /* top: 50%;
    left: 50%;
    width: 90%;
    height: 90%; */
    //transform: translate(-50%, -50%);
    //border: 5px solid rgb(161, 38, 38);
    // border: 10px solid #fff;

  }

  .move-to-left {
    // height: 400px;
    // width: 100%;
    // background-color: #f1f2f4;
    // //background-color: rgb(255, 87, 34);
    // //margin-left: -150px;
    // padding: 50px;
    // color: rgb(39, 39, 39);
    // //transform: translateX(100px);
    // opacity: .8;
    // box-shadow: 0 0 10px#00000045;

    h2 {
      font-size: 2rem;
      font-weight: 400;
      color: #303030;
      font-weight: 700;
    }

    p {
      line-height: 1.8;
      margin-bottom: 1.5rem;
      color: rgb(54, 54, 54);
    }

    a {
      font-weight: bold;
      font-size: small;
      color: #421115;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  img.to-right {
    transform: translateX(0px);
    opacity: 1;
  }

  div.to-left {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (min-width: 400px) {
  #current-event {
    width: 100%;
    position: relative;
    background-color: #f1f2f4;

    .event__image {
      display: block;
    }

    .event__info {
      padding: 1rem .5rem;
      background-color: #f1f2f4;
    }
  }
}

@media (min-width: 992px) {
  #current-event {
    background-color: #fff;

    .container {

      // max-width: 90%;
      display: flex;
      align-items: center;
    }

    .event__image {
      position: relative;


      &::after {

        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 90%;
        height: 90%;
        transform: translate(-50%, -50%);
        border: 10px solid rgba(255, 255, 255, 0.801);
        filter: blur(2px);
      }


    }

    .event__info {
      width: 800px;
      padding: 2.5rem;
      margin-left: -15%;
      z-index: 1;

    }
  }
}