#faculties {
  position: relative;
  background-color: #fff;

  .service-box {
    color: rgb(56, 55, 55);
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #ebecf0;
    box-shadow: 0 0 10px #e0e1e6;
  }

  .service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-title {
    margin-top: 1rem;
    margin-bottom: 10px;

    .description {
      font-size: 14px;
    }
  }
}

@media (min-width: 300px) {
  #faculties {
    .service-box {
      flex-direction: row;
      justify-content: start;
      height: 80px;
      margin: 0.3rem;
      padding: 0.5rem;
      cursor: pointer;
      .service-icon {
        background: #fff;
        margin: 0 1rem;
        font-size: 1.5rem;
        svg {
          color: #7a0234;
        }
      }

      .service-title {
        text-align: left;
        font-size: small;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 992px) {
  #faculties {
    .service-box {
      height: 200px;
      padding: 3rem 1rem;
      text-align: center;
      margin: 3rem 0rem;
      flex-direction: column;
      justify-content: center;

      .service-icon {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        border-radius: 50%;
        background: #ff0084;
        background: linear-gradient(to right top, #7a0234, #ff0084);
        //background: linear-gradient(to right top, #7a0234, #ff008448);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: #fff;
        }
      }

      &:hover .service-icon {
        background-color: #7a0234;
        border-style: none;
        &::before {
          background: darken($color: #f7f7ff, $amount: 10%);
        }
      }

      .service-title {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}
