#cards {
  .container {
    max-width: 70%;
  }
  .block-title {
    font-size: 2.5rem;
    color: #827f7f;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  /* background-color: var(--light-grey-bg); */
  background-color: #ebecf0;
  color: var(--light-gray-color);

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 360px;

    //background-color: #fff;
    position: relative;
    overflow: hidden;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0px 0px 10px 2px rgb(210 211 216);
    transform: translateY(-15px);
  }

  .image-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 5px 1rem;
    color: black;
    font-size: 1.2rem;
    height: 270px;
  }

  .card-title {
    font-weight: 400;
    color: darksalmon;
    color: #a00a33;
    text-transform: uppercase;
    letter-spacing: 1.5xp;
    margin-block-end: -1rem;
  }

  .card .date-wrapper {
    overflow: hidden;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }

  .card span.date {
    font-size: small;
    font-weight: bold;
    border-radius: 16px;
    color: #d1d4dd;
    margin-left: 3px;
  }

  i.icon {
    display: inline-block;
    width: 1rem;
    color: #d1d4dd;
  }

  .card p {
    margin-bottom: 30px;
  }

  .read-more {
    position: absolute;
    bottom: 2rem;
    color: #fff;
    // #7a0234;
    // color: #7a0234;
    color: darken($color: #a00a33, $amount: 10%);
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
    font-weight: bold;

    &::after {
      content: ' -->';
    }
  }

  a.btn {
    text-decoration: none;
    background-color: darksalmon;
    color: #fff;
    padding: 5px 15px;
  }

  .btn-rounded {
    border-radius: 16px;
  }
}

@media screen and (max-width: 768px) {
  #cards {
    background-color: red;
  }
}

@media screen and (max-width: 414px) {
  #card-with-image .card {
    background: none;
    overflow: hidden;
  }

  .card .image-wrapper {
    height: fit-content;
  }

  .card-title-wrapper {
    line-height: 1rem;
  }

  .card-title {
    color: #fff;
    padding-bottom: 20px;
  }

  .card-content {
    background-image: linear-gradient(#74767b61, #092a3c);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-content p,
  a.read-more,
  .date,
  i.icon {
    display: none;
  }
}
