<div class="hero-section">

  <!--NAVIGATION-BAR------------------------------------------------------->
  <div class="navbar">
    <div class="ub2-logo">
      <img src="./images/logo.png" alt="logo">
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Faculties</a></li>
        <li><a href="#">Staf</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </nav>
    <div class="search-box">
      <input type="text" class="search" placeholder="search">
      <button>
        <i class="fa fa-search "></i>
      </button>
    </div>
  </div>

  <video autoplay muted loop id="myVideo">
    <source src="videos/backgroung_video.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>
</div>


<!--SIDE-BAR------------------------------------------------------->
<!-- <div class="sidebar">
                      <img src="./icons/search.png" class="search">


                  <div class="social-media">
                       <img src="./icons/fb.png" alt="">
                       <img src="./icons/ig.png" alt="">
                       <img src="./icons/tw.png" alt="">
                  </div>
                      <img src="./icons/info.png" class="information">
              </div> -->
<!--SLIDE-------------------------------------------------------->



<div class="slide-container">
  <div id="slider">
    <div class="slide-content">
      <h1>First Slide</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis nam
        ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
      <a href="#">learn more</a>
    </div>
    <div class="slide-content">
      <h1>Second Slide</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis nam
        ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
      <a href="#">learn more</a>
    </div>
    <div class="slide-content">
      <h1>Fourth Slide</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis nam
        ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
      <a href="#">learn more</a>
    </div>
    <div class="slide-content">
      <h1>Fifth Slide</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis nam
        ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
      <a href="#">learn more</a>
    </div>
  </div>

</div>



<div class="slide-controler">
  <div id="slide1"></div>
  <div id="slide2"></div>
  <div id="slide3"></div>
  <div id="slide4"></div>
  <div id="active"></div>
</div>