<section class="hero-banner">

  <!--NAVIGATION-BAR-->
  <nav class="navbar align-items-center">
    <div class="container align-items-center">
      <a class="logo" href="#"><img src="./images/logo.png" alt="logo"></a>

      <input class=" hidden" type="checkbox" name="btn-menu" id="btn-menu">
      <label for="btn-btn hidden" class="hidden"> <i class="fa fa-bars"></i></label>
      <ul class="center ml-auto">
        <li><a href="#">Home</a></li>
        <li><a href="#">Faculties</a></li>
        <li><a href="#">Staf</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
      </ul>

      <div class="search-box">
        <input type="text" class="search hidden" placeholder="search">
        <i class="fa fa-search "></i>
      </div>
    </div>
  </nav>

  <video autoplay muted loop id="myVideo">
    <source src="videos/backgroung_video.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>

  <div class="slide-container">
    <div id="slider">
      <div class="slide-content">
        <h1>First Slide </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis
          nam
          ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
        <a href="#">learn more</a>
      </div>
      <div class="slide-content">
        <h1>Second Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis
          nam
          ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
        <a href="#">learn more</a>
      </div>
      <div class="slide-content">
        <h1>Fourth Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis
          nam
          ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
        <a href="#">learn more</a>
      </div>
      <div class="slide-content">
        <h1>Fifth Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nesciunt earum, sed veniam blanditiis
          nam
          ex maxime autem accusantium reiciendis in ab minima. Voluptas eius in nulla blanditiis magnam.</p>
        <a href="#">learn more</a>
      </div>
    </div>

  </div>

  <div class="slide-controler">
    <div id="slide1"></div>
    <div id="slide2"></div>
    <div id="slide3"></div>
    <div id="slide4"></div>
    <div id="active"></div>
  </div>
</section>