<section id="current-event">
  <div class="container">
    <div class="event__image">
      <img class="move-to-right img-fluid" src="images/current-event.png" alt="current event" />
    </div>

    <div class="move-to-left event__info">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga
        perspiciatis cum facere, perferendis assumenda quisquam praesentium,
        voluptatibus reprehenderit, ab in harum. Molestiae, ipsam doloribus illo
        mollitia rem aperiam! Saepe!
        test
      </p>

      <a href="#">ipsum dolor --> </a>
    </div>
  </div>
  </div>
</section>