<section id="events" class="half-slide">
  <!-- Additional required wrapper -->
  <div class="events-wrapper">
    <div class="left-side">
      <div>
        <h6>This Novemeber</h6>
        <h2>Become a part of something great</h2>
        <p>
          We enjoy being a multi-denominational church where we work together,
          worship together, and grow together.
        </p>
        <a href="#" class="all-events">
          <i class="icon-plus"></i>View all events</a
        >
      </div>
    </div>

    <div class="slide-wrapper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <div class="circle">
              <span>11</span>
              <span>Feb</span>
            </div>
            <h4>
              <a href="#" class="card-title"
                >5 Schoo Mission Intensive Training</a
              >
            </h4>
            <div class="card-info">
              <div class="date-wrapper">
                <i></i>
                <div class="date">
                  <span class="start-day">Friday, 1:00 pc</span>
                  <span class="end-day">Thursday, 3:30 pc</span>
                </div>
              </div>
              <div class="address-wrapper">
                <i></i>
                <span> 233 Main St. New York, United States</span>
              </div>
            </div>
            <a href="#" class="btn btn-outline">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <div class="circle">
              <div class="circle-info">
                <span>4</span>
                <span>Feb</span>
              </div>
            </div>
            <h4>
              <a href="#" class="card-title">4 Mission School</a>
            </h4>
            <div class="card-info">
              <div class="date-wrapper">
                <i></i>
                <div class="date">
                  <span class="start-day">Friday, 1:00 pc</span>
                  <span class="end-day">Thursday, 3:30 pc</span>
                </div>
              </div>
              <div class="address-wrapper">
                <i></i>
                <span> 233 Main St. New York, United States</span>
              </div>
            </div>
            <a href="#" class="btn btn-outline">Learn More</a>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="circle">
              <span>11</span>
              <span>Feb</span>
            </div>
            <h4>
              <a href="#" class="card-title">3 Training School</a>
            </h4>
            <div class="card-info">
              <div class="date-wrapper">
                <i> </i>
                <div class="date">
                  <span class="start-day">Friday, 1:00 pc</span>
                  <span class="end-day">Thursday, 3:30 pc</span>
                </div>
              </div>
              <div class="address-wrapper">
                <i></i>
                <span> 233 Main St. New York, United States</span>
              </div>
            </div>
            <a href="#" class="btn btn-outline">Learn More</a>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="circle">
              <span>11</span>
              <span>Feb</span>
            </div>
            <h4>
              <a href="#" class="card-title">2 work Mission Intensive </a>
            </h4>
            <div class="card-info">
              <div class="date-wrapper">
                <i></i>
                <div class="date">
                  <span class="start-day">Friday, 1:00 pc</span>
                  <span class="end-day">Thursday, 3:30 pc</span>
                </div>
              </div>
              <div class="address-wrapper">
                <i></i>
                <span> 233 Main St. New York, United States</span>
              </div>
            </div>
            <a href="#" class="btn btn-outline">Learn More</a>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="circle">
              <span>11</span>
              <span>Feb</span>
            </div>
            <h4>
              <a href="#" class="card-title"
                >1 Mission Intensive Training School</a
              >
            </h4>
            <div class="card-info">
              <div class="date-wrapper">
                <i></i>
                <div class="date">
                  <span class="start-day">Friday, 1:00 pc</span>
                  <span class="end-day">Thursday, 3:30 pc</span>
                </div>
              </div>
              <div class="address-wrapper">
                <i></i>
                <span> 233 Main St. New York, United States</span>
              </div>
            </div>
            <a href="#" class="btn btn-outline">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
