<section id="faculties">
  <!-- partial:index.partial.html -->

  <h1 class="section-title">Our Faculties</h1>
  <div class="container">
    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-microscope"></i>
      </div>
      <div class="service-title">Sciences de la Nature et de la Vie</div>
      <div class="description"></div>
    </div>
    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-server"></i>
      </div>
      <div class="service-title">MATHEMATIQUE ET INFORMATIQUE</div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-language"></i>
      </div>
      <div class="service-title">Lettres et Langues Etrangères</div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-stethoscope"></i>
      </div>
      <div class="service-title">MEDECINE</div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-running"></i>
      </div>
      <div class="service-title">
        Institut des Activités Physiques et Sportives
      </div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-hard-hat"></i>
      </div>
      <div class="service-title">
        Institut d'Hygiène et Sécurité Industrielle
      </div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-globe-africa"></i>
      </div>
      <div class="service-title">
        Institut des Sciences de la Terre et de l'Univers
      </div>
      <div class="description"></div>
    </div>

    <div class="service-box">
      <div class="service-icon">
        <i class="fa fa-microchip"></i>
      </div>
      <div class="service-title">TECHNOLOGIE</div>
      <div class="description"></div>
    </div>
  </div>
  <!-- partial -->
</section>
