<header>
  <!--NAVIGATION-BAR-->
  <nav class="navbar align-items-center">
    <div class="container align-items-center">
      <a class="logo" href="#"><img src="./images/logo.png" alt="logo" /></a>
      <a href="#" class="brand">University of Batna 2</a>
      <input class="hidden" type="checkbox" name="btn-menu" id="btn-menu" />
      <label for="btn-btn hidden" class="hidden">
        <i class="fa fa-bars"></i
      ></label>
      <ul class="center ml-auto">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Faculties</a></li>
        <li><a href="#">Staf</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
      </ul>

      <div class="search-box center">
        <input type="text" class="search hidden" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
    </div>
  </nav>
</header>
