<section id="news">
  <div class="container">
    <h2 class="block-title">Latest News</h2>


    <!-- Swiper -->
    <div class="swiper-container" id="news-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card mb-2">
            <img class="card-img-top" src="images/news-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>
              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2 active">
            <img class="card-img-top" src="images/news-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">Lorem ipsum dolor sit amet</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                voluptatum voluptatibus.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2">
            <img class="card-img-top" src="images/news-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>
              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2">
            <img class="card-img-top" src="images/news-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>
              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2 active">
            <img class="card-img-top" src="images/news-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2">
            <img class="card-img-top" src="images/news-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">Lorem ipsum dolor sit amet</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                voluptatum voluptatibus.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2 active">
            <img class="card-img-top" src="images/news-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2">
            <img class="card-img-top" src="images/news-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">Lorem ipsum dolor sit amet</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                voluptatum voluptatibus.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card mb-2 active">
            <img class="card-img-top" src="images/news-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-0 ">king hamad award</h5>

              <span class="date"><i class="far fa-clock mr-1"></i> 14 sept 2020</span>
              <p class="card-text mt-2 text-muted">Some quick example text to build on the card title and make up the
                bulk of the
                card's
                content.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>

      </div> <!-- swiper-container -->

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

    </div>

  </div> <!-- container -->

</section>