<section id="cards" class="section">
  <div class="container">
    <h2 class="block-title">Latest News</h2>

    <div class="row">
      <div class="card col-4">
        <div class="image-wrapper">
          <img
            src="images/join-liberty-as-a-champion-for-christ-20190903_0386KT2.jpg"
            alt=""
            class="image-fluid"
          />
          <div class="image-caption"></div>
        </div>

        <div class="card-content">
          <div class="card-title-wrapper">
            <h3 class="card-title">king hamad award</h3>
            <div class="date-wrapper">
              <i class="icon">
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </i>
              <span class="date"> 14 sept 2020</span>
            </div>
          </div>
          <p>
            Prix Roi Hamad pour l'année 2020 pour permettre aux jeunes
            d'atteindre les objectifs du développement durable
          </p>
          <a href="#" class="read-more">read more</a>
        </div>
      </div>

      <div class="card col-4">
        <div class="image-wrapper">
          <img
            src="./images/happyrebeltherapy.com_.five_.people.jpg"
            alt=""
            class="image-fluid"
          />
          <div class="image-caption"></div>
        </div>

        <div class="card-content">
          <div class="card-title-wrapper">
            <h3 class="card-title">Card Two</h3>
            <div class="date-wrapper">
              <i class="icon">
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </i>
              <span class="date"> 14 sept 2020</span>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum id
            unde pariatur eveniet adipisicing elit. Dolorum id unde pariatur
            veniet adipisicing elit.
          </p>
          <a href="#" class="read-more">read more</a>
        </div>
      </div>

      <div class="card col-4">
        <div class="image-wrapper">
          <img
            src="./images/University-of-St-Andrews.jpg"
            alt=""
            class="image-fluid"
          />
          <div class="image-caption"></div>
        </div>

        <div class="card-content">
          <div class="card-title-wrapper">
            <h3 class="card-title">Card One</h3>
            <div class="date-wrapper">
              <i class="icon">
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </i>
              <span class="date"> 14 sept 2020</span>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum id
            unde pariatur eveniet
          </p>
          <a href="#" class="read-more">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
