<section id="vr" class="d-flex">
  <div class="services--info-wrapper align-items-center justify-content-center">
    <div class="services--info">
      <h2>Our Services</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Necessitatibus, dignissimos. amet consectetur adipisicing elit.
        Necessitatibus, dignissimos.
      </p>

      <a href="#" class="btn btn-primary">Details</a>
    </div>
  </div>

  <div class="services--square-wrapper align-items-center">
    <div class="services--square d-flex">
      <div class="col-6 d-flex-column center immobilier">
        <i class="icon icon-immobilier"></i>
        <h4>Immobilier</h4>
      </div>
      <div class="col-6 d-flex-column center retraite">
        <i class="icon icon-retraite"></i>
        <h4>Retrairte</h4>
      </div>
      <div class="col-6 d-flex-column center sante">
        <i class="icon icon-sante"></i>
        <h4>Prénoyance / Santé</h4>
      </div>
      <div class="col-6 d-flex-column center protection">
        <i class="icon icon-protection"></i>
        <h4>Protection de famille</h4>
      </div>
    </div>
  </div>
</section>
